[submodule "controlPanel"]
	path = controlPanel
	url = https://github.com/jacobwicks/forumsBotControlPanel.git
[submodule "instructions"]
	path = instructions
	url = https://github.com/jacobwicks/forumsBotInstructions.git
